@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

@font-face {
  font-family: 'Arvo-bold';
  src: url('@/assets/fonts/Arvo-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo-regular';
  src: url('@/assets/fonts/Arvo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rasa-Regular';
  src: url('@/assets/fonts/Rasa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rasa-Medium';
  src: url('@/assets/fonts/Rasa-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rasa-SemiBold';
  src: url('@/assets/fonts/Rasa-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rasa-Bold';
  src: url('@/assets/fonts/Rasa-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//TODO Añadir icono de comprar o carrito al modal
//TODO Arreglar problema de ruta de imagenes al abrir modal
//TODO Cambiar de acuerdo al tamañao de la pantalla las opciones del menu

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rasa-Regular', sans-serif;
}
html {
  block-size: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
h1 {
  font-family: 'Rasa-Bold', sans-serif;
}
h2 {
  font-family: 'Rasa-Medium', sans-serif;
}
h3,
p {
  font-family: 'Rasa-Regular', sans-serif;
}
// Whenever a modal is open, the body will have overflow hidden
body.modal-open {
  overflow: hidden;
  margin-right: 17px; //This fixes when the modal is open, the body won't take the space of the scrollbar and this avoid the content adjust
}

.screen-font {
  font-family: 'Rasa-SemiBold', sans-serif;
  position: relative;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.idToSect {
  position: absolute;
  z-index: 50;
  top: -60px;
  height: 80px;
}
.section-screen {
}
//* FIRST SCREEN
.first-screen {
  background-image: url('@/assets/images/main.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(239, 227, 184);
  width: 100%;
  height: 100vh;
  padding: 2rem 2rem 3rem;
  padding-top: calc(2rem + 56px);
}
.first-screen-div {
  text-align: center;
  height: 100%;
  h1 {
    font-size: 2.4rem;
    width: 50px;
    margin: 1rem 0;
  }
  p {
    font-size: 1.9rem;
    margin: 4rem 0;
    text-align: left;
    background-color: rgba(28, 27, 27, 0.6);
    padding: 1rem;
    border-radius: 10px;
  }
  .compra-aqui-a {
    display: inline-block;
    font-family: 'DM+Sans', sans-serif;
    color: rgb(239, 227, 184);
    border: 2px solid rgb(239, 227, 184);
    padding: 1.4rem 4rem;
    font-size: 1rem;
    background-color: rgba(28, 27, 27, 0.6);
    &:hover {
      background-color: rgba(28, 27, 27);
      color: rgb(269, 257, 214);
      border-color: rgb(269, 257, 214);
      box-shadow: 0 0 20px 2px rgb(269, 257, 214, 0.3);
    }
  }
}
//* SECOND SCREEN
.second-screen-div {
  background: rgb(239, 227, 184);
  color: rgb(166, 96, 58);
  padding: 3rem 2rem;
  text-align: center;
  h1 {
    font-size: 1.9rem;
    margin: 1.1rem 0;
  }
  h4 {
    font-size: 1.7rem;
    text-decoration: underline;
  }
  p {
    font-size: 1.5rem;
    margin: 4rem 0 2rem;
    text-align: center;
  }
}
.second-screen-img {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
//* THIRD SCREEN
.third-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(166, 96, 58);
  color: rgb(239, 227, 184);
  width: 100%;
  text-align: center;
  padding: 2rem;
  letter-spacing: 1px;

  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
}
.third-screen-div {
  margin: 2.5rem 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(239, 227, 184);
  &:not(:last-child) {
    border-bottom: 2px solid rgb(239, 227, 184);
  }
  h2 {
    font-size: 2rem;
    margin: 2.5rem 0;
  }
  p {
    font-size: 1.5rem;
    margin: 3rem 0;
    text-align: center;
    line-height: 1.8rem;
  }
}
.third-screen-img {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
//* FOURTH SCREEN --- ¿QUIENES SOMOS?
.fourth-screen {
  background: rgb(239, 227, 184);
  color: rgb(166, 96, 58);
  width: 100%;
  text-align: center;
  padding: 2rem;
  letter-spacing: 1px;
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
}
.fourth-screen-main-div {
  min-height: 900px;
}
.fourth-screen-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h2 {
    font-size: 2rem;
    margin: 2.5rem 0;
  }
  p {
    font-size: 1.5rem;
    margin: 3rem 0;
    text-align: center;
    line-height: 1.8rem;
  }
}
.fourth-screen-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  img {
    object-fit: cover;
    height: 200px;
    width: 300px;
  }
}
//* FIFTH SCREEN --- NUESTROS PRODUCTOS
.fifth-screen {
  background: rgb(166, 96, 58);
  width: 100%;
  text-align: center;
  padding: 2rem 2rem 3rem;
  letter-spacing: 1px;
  position: relative;
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
    color: rgb(239, 227, 184);
  }
}
.fifth-screen-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 2.5rem 0;
  text-align: center;
  border-top: 2px solid rgb(239, 227, 184);
  border-bottom: 2px solid rgb(239, 227, 184);
}
.fifth-screen-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 300px;
  img {
    transition: all 0.5s ease;
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
  h2 {
    display: inline-block;
    position: absolute;
    top: 50;
    left: 50;
    z-index: 2;
    font-size: 2rem;
    margin: 0 1.5rem;
    padding: 16px 24px;
    border-radius: 10px;
    color: rgb(239, 227, 184);
    background: rgb(36, 36, 35, 0.6);
    transition: all 0.5s ease;
    max-width: 260px;
  }
  &:hover {
    cursor: pointer;
    h2 {
      transform: scale(1.1);
    }
    img {
      filter: brightness(0.6);
      transform: scale(1.2);
    }
  }
}
//* SIXTH SCREEN
.sixth-screen {
  color: rgb(36, 36, 35);
  width: 100%;
  text-align: center;
  padding: 2rem;
  letter-spacing: 1px;
  position: relative;
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
  .sixth-img-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    // right: 0;
    transform: rotate(270deg);
    // width: 10000px;
    // height: 10000px;
    width: 1500px;
    height: 1500px;
  }
}
.sixth-screen-div {
  padding: 2.5rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 10px dotted rgb(166, 96, 58);
  // border-bottom: 1px solid black;
  h3 {
    margin: 1rem;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
  }
}
.sixth-screen-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  img {
    object-fit: cover;
    height: 300px;
    width: 300px;
  }
}

//* SEVENTH SCREEN
.seventh-screen {
  background: rgb(239, 227, 184);
  color: rgb(166, 96, 58);
  width: 100%;
  text-align: center;
  padding: 2rem;
  letter-spacing: 1px;
  h1 {
    font-size: 2.5rem;
    margin: 3rem 0;
  }
  .svg-div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 2rem 0;
  }
  // p {
  //   white-space: nowrap;
  // }
}
.seventh-screen-div {
  margin: 2.5rem 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid black;
  h2 {
    width: 100%;
    font-size: 2rem;
    margin: 1.7rem 0;
  }
  h3 {
    font-size: 1.3rem;
  }
}
.seventh-screen-img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 4rem;
  img {
    object-fit: cover;
    height: 300px;
    width: 300px;
  }
}
// Define las variables para los breakpoints
// @custom-media --mobile-screen (width >= 320px) and (width <= 480px);
// @custom-media --tablet-screen (width >= 481px) and (width <= 768px);
// @custom-media --laptop-screen (width >= 769px) and (width <= 1023px);
// @custom-media --desktop-screen (width >= 1024px) and (width <= 1200px);
// @custom-media --extra-large-screen (width >= 1201px);
@custom-media --small-screen (width <= 480px);
@custom-media --medium-screen (width >= 481px) and (width <= 768px);
@custom-media --large-screen (width >= 769px);

// Estilos para pantallas pequeñas
@media screen and (width >= 481px) {
  h1 {
    font-size: 4rem !important;
  }
  .first-screen {
    background-image: url('@/assets/images/main-large.webp');
    background-position: center 20%;
    height: 100vh;
  }
  .first-screen-div {
    p {
      text-align: center;
      padding: 1.5rem 0;
    }
    .compra-aqui-a {
      margin-top: 70px;
    }
  }
  .second-screen-img {
    img {
      width: 50%;
    }
  }
  .third-screen-div {
    width: 90%;
  }
}
@media only screen and (--large-screen) {
  .compra-aqui-a {
    transform: scale(1.2);
  }
  //* THIRD SCREEN - PRODUCTOS NATURALES
  .third-screen-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 3rem 0;
    margin: 0;
    .third-screen-div-desc {
      width: 60%;
    }
  }
  .third-screen-img {
    height: 300px;
    max-width: 300px;
    img {
      width: 100%;
    }
  }
  .fourth-screen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .fourth-screen-main-div {
      width: 90%;
      display: flex;
      justify-content: space-evenly;
    }
    .fourth-screen-div {
      margin: 0;
      width: 95%;
      height: 600px;
    }
    .fourth-screen-div-desc {
      width: 90%;
    }
    .fourth-screen-img {
      height: 70%;
      width: 90%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  //* FIFTH SCREEN --- NUESTROS PRODUCTOS
  .fifth-screen {
    background: rgb(166, 96, 58);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
      width: 100%;
    }
  }
  .fifth-screen-grid-container {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 300px);
    grid-gap: 70px;
    margin-bottom: 78px;
    // align-content: space-between;
  }
  .fifth-screen-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    padding: 0;
    flex-wrap: nowrap;
  }
  .fifth-screen-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 300px;
    img {
      transition: all 0.5s ease;
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
    h2 {
      display: inline-block;
      position: absolute;
      top: 50;
      left: 50;
      z-index: 2;
      font-size: 2rem;
      margin: 0 1.5rem;
      padding: 16px 24px;
      border-radius: 10px;
      color: rgb(239, 227, 184);
      background: rgb(36, 36, 35, 0.6);
      transition: all 0.5s ease;
      max-width: 260px;
    }
    &:hover {
      cursor: pointer;
      h2 {
        transform: scale(1.1);
      }
      img {
        filter: brightness(0.6);
        transform: scale(1.2);
      }
    }
  }
}
